.top-header{
    /*background-color: red;*/
}
.info-box{
    /*background-color: blue;*/
    display: flex;
    justify-content: center;
}
.payment-box{
    /*background-color: green;*/
}
.timer-box{
    /*background-color: yellow;*/
}
.footer{
    /*background-color: orange;*/
}



.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image:
    linear-gradient(to left, rgba(255,255,255,0)10%, rgba(255,255,255,1)),
    url("../public/background.jpg");
    /*linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));*/
}

.custom-timer{
    background: white;
    border-radius: 30px;
    height: 100px;
    width: 400px;
}

.clock-item{
    background: gray;
    height: 30px;
    width: 30px;
}